---
---
<!-- header -->
{% include header.html %}
{% include top.navigation.html %}
<body>
<!-- body -->
<div class="main-container">
    <div class="flex-container">
        {% if page.url contains 'page' %}
        <div class="w100">
        {% include landing.post.html %}
        </div>
        {% else %}
        <div class="w50">
        {% include landing.left.html %}
        </div>
        <div class="w50">
        {% include landing.post.html %}
        </div>
        {% endif %}
    </div>
</div>

<!-- footer -->
{% include footer.html %}

</body>
</html>